body {
    background-color: #ffffff;
    color: #f8f8f8;
    font-family: Arial, sans-serif;
    text-align: center;
}
header {
    background: linear-gradient(90deg, #ff5900, #00cc07);
    padding: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
.nav-link {
    color: #f8f8f8;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}
.nav-link:hover {
    color: #525252;
}
.fade-in {
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.recipe-card {
    background: #2e2e2e;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
}
.recipe-card:hover {
    transform: scale(1.05);
}
footer {
    margin-top: 30px;
    padding: 20px;
    background: #ffffff;
    border-top: 2px solid #6a0dad;
}

.button {
    padding: 30px; /* Powiększenie odstępów wewnątrz przycisków */
    outline: none;
    box-shadow: none;
    margin: 30px;
}

